@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=IBM+Plex+Sans:wght@400;500;600&display=swap');

:root {
    --color-dark-primary: #212121;
    --color-dark-secondary: #757575;
    --color-dark-medium: #BDBDBD;
    --color-dark-light: #EEEEEE;
    --color-dark-50: #FAFAFA;
    --color-white-primary: #fff;
    --color-teal-primary: #26a69a;

    --main-header-height: 4rem;
    --main-header-height-mobile: 2rem;
    --main-header-padding: 1.5rem 1rem;
    --main-header-padding-mobile: 1rem 0.75rem;

    --main-column-width: 800px;

    --color-dark-primary-alpha80: #212121CC;
    --color-dark-50-alpha80: #FAFAFACC;
    --color-white-primary-alpha80: #FFFFFFCC;

    --color-import: #212121ff;
    --color-export: #00bfa580;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-dark-secondary);
}

a:hover {
    color: var(--color-dark-primary);
}